{% extends 'shop/basic.html' %}
{% block title%} Culinary Corner{% endblock %}

{% block css %}
  body {
    background-color: #f8f8f8; /* Light gray background */
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark text color */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8; /* Set to body background color */
    color: #ffcc00; /* Yellow text color */
  }

  #about-us {
    text-align: center;
  }

  h2 {
    margin-top: 70px; /* Remove default margin for h2 */
    font-family: 'Arial', sans-serif;
  }

  #about-header {
    color: #ffcc00; /* Yellow color for "About" */
    font-weight: bold; /* Make it bolder */
    font-size: 2.2em; /* Make it larger */
  }

  #us-header {
    color: #000; /* Black color for "Us" */
    font-weight: bold; /* Make it bolder */
    font-size: 2.2em; /* Make it larger */
  }

  #main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  #left-content {
    flex: 1;
    margin-right: 20px; /* Add space between image and paragraph */
  }

  #image {
    width: 100%; /* Make the image fill the container */
    border-radius: 15px; /* Add rounded corners */
  }

  #right-content {
    flex: 1;
  }

  p {
    margin-top: 20px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
  }

{% endblock %}

{% block body %}
{% load static %}
<header>
  <div id="about-us">
    <h2>
      <span id="about-header">About</span>
      <span id="us-header"> Us</span>
    </h2>
  </div>
</header>

<div id="main-content">
  <div id="left-content">
    <img src="{% static "shop/about.jpg" %}" class="logo-img" />
  </div>
  <div id="right-content">
    <p>
      CulinaryCorners was founded by talented individuals: Sachin Aggerwal, Sanudha Gamwarige, Kamji Shehu, Carter
      Maschwitz, and Dylan Pike.
      <br><br>
      These five had a dream to bring different foods from each of their cultures together.
      <br><br>
      At CulinaryCorners, we strive to bring you food from every corner across the globe, right to your doorstep!
      <br><br>
      Order now to taste food that you’ve never experienced before!
    </p>
  </div>
</div>
{% endblock %}