{% extends 'shop/basic.html' %}
{% block title%} Contact Us{% endblock %}

{% block css%}
  .contact-header {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 10px;
  }

  .us-header {
    color: #ffd700;
    font-size: 2.5em;
    font-weight: bold;
  }

  .contact-container {
    text-align: center;
    margin: 80px auto 20px;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .logo-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .contact-container p {
    margin-top: 20px;
  }


{% endblock %}

{% block body %}
{% load static %}

<div class="contact-container">
  <img src="{% static "shop/Logo.jpeg" %}" class="logo-img" />
  <h3> Restaurant Feedback or General Inquiries:</h3>
  <h5>Call Us:</h5>
  <p>1-604-356-3467</p>
  <h5>Email Us:</h5>
  <p>culinarycorners@telus.net</p>
</div>

<div class="container contact_us">
    <span class="contact-header">Contact</span><span class="us-header">Us:</span>
</div>

<div class="container my-3">
  <!-- <h3 class = "contact_us">Contact Us:</h3> -->
  <form action="/shop/contact/" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
    </div>


    <div class="form-group">
      <label for="desc">How May We Help You?</label>
      <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
{% block js%}
<script>
  {% if thank %}
  alert('Thanks for contacting us. We will get back to you soon!');

  document.location = "/shop/contact";
  {% endif %}
</script>
{% endblock %}